h4
  a(href="" ui-sref="layout_app.books")
    | Books
  | - {{ book.name }}

.row
  form.col.s12(ng-if="user.admin"
    name="updateBookForm"
    ng-submit="updateBook(book)"
    novalidate)

    .row
      .input-field.col.s6
        input(ng-model="book.name" type="text" required)
        label(ng-class="{active: book.name}")
          | Name

      .input-field.col.s6
        input(ng-model="book.author" type="text" required)
        label(ng-class="{active: book.author}")
          | Author

    .row
      .input-field.col.s12
        button.waves-effect.waves-light.red.btn(type="submit"
          ng-class="{disabled: updateBookForm.$invalid}")
          | Update Book

a.btn.blue.lighten-5.blue-text.text-lighten-4(href=""
    ng-click="addingNew = !addingNew" ng-style="{'margin-top': '25px'}")
    | &nbsp;Add quote&nbsp;
    i.fa.fa-plus-circle.right

section(ng-if="user.admin" ng-show="addingNew")
  .row
    .col.s12
      .card.blue.lighten-5
        .card-content
          span.card-title.blue-text
            | Add quote to book

          form.col.s12(name="newQuoteForm"
            ng-submit="addQuote(book.id, newQuote);resetForm(newQuoteForm)"
            novalidate)

            .row
              .input-field.col.s12
                  textarea.materialize-textarea(ng-model="newQuote.body")
                  label Body

            .row
              .input-field.col.s12
                button.waves-effect.waves-light.blue.lighten-4.blue-text.btn(type="submit"
                  ng-class="{disabled: newQuoteForm.$invalid}")
                  | Add quote


section
  h4 Quotes

  table.hoverable.bordered
    tr.header.grey-text.text-lighten-1
      th Quote
      th ID

    tr.body(ng-repeat="quote in bookQuotes")
      td
        i.fa.fa-quote-left.grey-text.text-lighten-2&nbsp;&nbsp;
        | {{ quote.body }}&nbsp;&nbsp;
        i.fa.fa-quote-right.grey-text.text-lighten-2
      td {{ quote.id }}
